.logo {
    position: fixed;            /*  fixed position  */
    float: left;                /*  moves the logo to the left  */
}
.icon {
    text-align: center;         /*  centers element or text  */
}
.top {
    text-align: left;           /*  aligns text to the left  */
    float: top;                 /*  moves components to the top  */
    position: fixed;            /*  fixed position  */
    width: 100%;                /*  component fills the whole width  */
    padding: 5px;               /*  creates a padding of 5px around the object  */
    background-color: white;    /*  sets the background color to white  */
    display: block;             /*  creates a block component  */
}
.homescreen_button {
    float: bottom;              /*  moves components to the bottom  */
}
.card {
    display: block;             /*  creates a block component  */
    margin-left: 30px;          /*  creates a margin of 30px on the left of the object  */
    margin-right: 30px;         /*  creates a margin of 30px on the right of the object  */
    align-items: center;        /*  centers element  */
}
.header {
    padding: 23px;              /*  creates a padding of 23px around the object  */
    font-family: Roboto;        /*  sets the font to Roboto  */
    font-size: 20px;            /*  sets font size to 20  */
    text-align: center;         /*  centers element or text  */
    color: #676767;             /*  sets the color to grey  */
}
.span_50 {
    display: block;             /*  creates a block component  */
    height: 50px;               /*  sets the height of the component to 50px  */
    width: 100%;                /*  component fills the whole width  */
    background: white;          /*  sets the background color to white  */
}
.untercard {
    display: block;             /*  creates a block component  */
    height: 30px;               /*  sets the height of the component to 30px  */
    width: 100%;                /*  component fills the whole width  */
    background: white;          /*  sets the background color to white  */
}
.center{
    text-align: center;         /*  centers element or text  */
    align-items: center;        /*  centers element  */
    justify-content: center;    /*  changes the alignment of text to block  */
}
.span_100 {
    display: block;             /*  creates a block component  */
    height: 100px;              /*  sets the height of the component to 100px  */
    width: 100%;                /*  component fills the whole width  */
    background: white;          /*  sets the background color to white  */
}
.h2 {
    font-family: Roboto;        /*  sets the font to Roboto  */
    color: #676767;             /*  sets the color to grey  */
    padding: 15px;              /*  creates a padding of 15px around the object  */
}
.p_left {
    font-family: Roboto;        /*  sets the font to Roboto  */
    color: #676767;             /*  sets the color to grey  */
    margin: 30px;               /*  creates a margin of 30px around the object  */
    text-align: left;           /*  aligns text to the left  */
}
.p_center_30 {
    font-family: Roboto;        /*  sets the font to Roboto  */
    color: #676767;             /*  sets the color to grey  */
    margin: 30px;               /*  creates a margin of 30px around the object  */
    text-align: center;         /*  centers element or text  */
}
.punten{
    padding-bottom: 100px;      /*  creates a padding of 100px under the bottom of the object  */
    padding-left: 15px;         /*  creates a padding of 15x on the left of the object  */
    padding-right: 15px;        /*  creates a padding of 15x on the right of the object  */
    padding-top: 15px;          /*  creates a padding of 15x on top of the object  */
    font-family: Roboto;        /*  sets the font to Roboto  */
    color: #676767;             /*  sets the color to grey  */
}
.p_center_10 {
    font-family: Roboto;         /*  sets the font to Roboto  */
    color: #676767;              /*  sets the color to grey  */
    margin: 10px;                /*  creates a margin of 10px around the object  */
    text-align: center;          /*  centers element or text  */
}
.tab_bar {
    float: bottom;               /*  moves the logo to the bottom  */
    position: fixed;             /*  fixed position  */
}